body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.pointer li{
  cursor: pointer;
}

.pointer li:hover{
  color:gray;
  background-color: aliceblue;
}

.remove a:hover{
  color:red;
}